* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  color: $text-color;
  background-color: $dark-blue;
  font-family: liberation-sans, sans-serif;
}

body > .container {
  padding: 50px 144px 75px 144px;
}

.navbar {
  padding: 25px 144px 25px 144px;
  height: 50px;
  box-shadow: 0 3px 0 $scarlet;
}

.navbar > .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.navbar-logo {
  height: 48px;
  fill: $scarlet;
}

.footer {
  padding: 25px 144px 0 144px;
  height: 50px;
}

.footer > .footer-container {
  display: flex;
  justify-content: center;
}

.footer-container ul {
  display: flex;
  list-style: none;
}

.footer-container ul li {
  display: flex;
  align-self: center;
  list-style: none;
}

.footer-logo {
  height: 48px;
  fill: $scarlet;
}

.search-container {
  width: 720px;
  height: 100%;
}

.user-nav-avatar {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: $camouflage-green;
}

a:hover {
  color: $scarlet;
}

button {
  color: $text-color;
  background-color: $scarlet;
  border-radius: 3px;
  padding: 7px;
}

button:hover {
  background-color: darken($scarlet, 15%);
}

input {
  line-height: 2;
  color: $text-color;
  border-radius: 3px;
  background-color: $fitting-black;
}

input[type=search] {
  font-size: larger;
  padding: 5px 5px 0 15px;
  width: 100%;
  height: 100%;
}

input[type=search]:focus-within {
  border: 1px solid $scarlet;
}