<div class="footer">
  <div class="footer-container">
    <ul>
      <li><%= link_to "Repo", "https://github.com/elektrine/nekonata" %></li>
      <li><%= inline_svg "jewel.svg", class: 'footer-logo' %></li>
      <li><%= link_to "Status", "" %></li>
    </ul>
  </div>
</div>