<div class="navbar">
  <div class="container">
    <div><%= link_to root_path do %><%= inline_svg "nekonata.svg", class: 'navbar-logo' %>
      <% end %></div>
    <div class="search-container">
      <input type="search" maxlength="256" autocomplete="off" name='q' placeholder="Search..."></div>
    <div class="nav-user">
      <%= gravatar_image_tag(current_user.try(:email), class: 'user-nav-avatar') %>
    </div>
  </div>
</div>