<navbar>
  <div class="navbar-container">
    <div><%= link_to root_path do %><%= inline_svg "nekonata.svg", class: 'navbar-logo' %>
      <% end %></div>
  </div>
  <div class="navbar-container-2">
    <div class="search-container">
      <input type="search" maxlength="256" autocomplete="off" name='q' placeholder="Search..."></div>
  </div>
</navbar>